<div class="cart-content">
      <div class="table-responsive">
      <%= simple_form_for @order do |f| %>
      <table class="table table-shopping">
        <thead>
          <tr>
            <th class="products-info"><span>商品資訊</span></th>
            <th class="text-center" style="width: 15%;">尺寸 / 數量</th>
            <th class="text-right">單價</th>
            <th class="text-right">小計</th>
          </tr>
        </thead>
        <tbody>
        <!-- 總價 -->
        <% totalprice = 0 %>
          <% @items.each do |item| %>
          <%= f.input_field "", name: "items_id[]", value: item.id , type: "hidden" %>
              <!-- 購物車商品詳細內容 -->
              <%= render "carts/cart_item_step2", item: item %>
              <%  totalprice += item.cartitem_total_price%>
          <% end %>        
          <tr>
            <td colspan="4" style="text-align: right;" class="td-total-price">
              <div>
              <span>Total</span>
              <small>$</small>
              <span class="total-price" id="total-price">
              <%= totalprice %>
              </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
      <!-- form end -->
      <div class="order-info">
        
      </div>
    </div>    
</div>

<script type='text/javascript'>
var check_function  = (function() {  
    //設定ttile step狀態
    let set_step2_titlestyle = () => {
        document.getElementsByClassName('step2')[0].classList.add('step_to_shopping');
    }
    //取得所有function
    let allfunctoin = () =>{
      set_step2_titlestyle();
    } 
    return{
      init: allfunctoin,
    };
}());
(function() {      
  check_function.init();
})();
</script>