<% provide :zaro_title, "ZARO-購物車" %>
<% extend CommonHelper %>
  <div class="col-md-12">
  <div class="carts-body">
    <div class="card card-nav-tabs">      
        <!-- 購物車圖 -->        
        <div class="card-header card-header-info">
          <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
          <span>Shopping Cart</span>
        </div>
        <div class="card-body">
        <h4 class="card-title">
        <span>CHECK ORDER 確認購買清單</span>
        </h4>
          <%= render "cart_content" %>
      </div>
    </div>
  </div>
</div>